<header>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Ecommerce - Proyecto Backend</a>
    <ul class="navbar-nav flex-row">
    </ul>
</nav>
</header>