<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
</head>
<body>
    <header><%- include('./partials/header') %></header>
    
    <%- include('./partials/forms/products.ejs') %>
</body>
<footer>
    
</footer>
</html>