<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>

<body>
    <%- include('./partials/header') %>
    <main class="">
        <h1 class="">Login</h1>
        <form action="#" method="POST" id="login">
            <div class="mb-3">
                <label for="formGroupExampleInput" class="form-label">Nombre</label>
                <input name="name" type="text" class="form-control" id="formGroupExampleInput">
            </div>
            <div class="mb-3">
                <label for="formGroupExampleInput" class="form-label">Email</label>
                <input name="email" type="email" class="form-control" id="formGroupExampleInput">
            </div>
            <div class="mb-3">
                <label for="formGroupExampleInput2" class="form-label">Contraseña<label>
                        <input name="password" type="password" class="form-control" id="formGroupExampleInput2">
            </div>
            <div class="mb-3">
                <input type="submit" class="btn btn-success w-100" value="Ingresar">
            </div>
        </form>
    </main>
    <script>
        
    </script>
</body>

</html>