<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Titulo</th>
            <th scope="col">Precio</th>
            <th scope="col">Imagen</th>
        </tr>
    </thead>
    <tbody id="product-list">
        <% productos.forEach (i => { %>
        <tr>
            <th scope="row"> <%= i.id %> </th>
            <td> <%= i.nombre %> </td>
            <td> <%= i.precio %> </td>
            <td><img src="<%= i.thumbnail %>" width="100" height="100"> </td>
        </tr>
        <% }); %>
    </tbody>
</table>

<script>
    socket.on('NEW_PRODUCT_SERVER', product => {
        const productList = document.getElementById('product-list')
        productList.innerHTML += `
        <tr>
            <th scope="row"> ${product.id} </th>
            <td> ${product.nombre} </td>
            <td> ${product.precio} </td>
            <td><img src=" ${product.thumbnail} " width="100" height="100"> </td>
        </tr>
      })`
    })
</script>